$dark-purple: rgb(59, 31, 43);
$crimson: rgb(219, 22, 47);
$pale-goldenrod: rgb(219, 223, 172);
$steel-teal: rgb(95, 117, 142);
$deep-koamaru: rgb(56, 57, 97);
$blue: rgb(1, 22, 56);
$charcoal: rgb(54, 65, 86);
$pastel-gray: rgb(205, 205, 205);
$light-cyan: rgb(223, 248, 235);
$dark-green: rgb(33, 78, 52);
$indigo: #283593;
$dark-indigo: #001064;
$light-indigo: #5f5fc4;
$white: #fff;

$colors: ();

$colors: (
  'purple': $dark-purple,
  'red': $crimson,
  'yellow-green': $pale-goldenrod,
  'teal': $steel-teal,
  'blue': $deep-koamaru,
  'indigo': $indigo,
  'light-indigo': $light-indigo,
  'white': $white
);

$primary: map-get($map: $colors, $key: 'indigo');
$secondary: map-get($map: $colors, $key: 'light-indigo');

$theme-colors: ();

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary
);